# Xcode
*.xcodeproj/*
*.xcworkspace/*
!*.xcodeproj/xcshareddata
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata
# Cache SwiftPM for CI
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# CocoaPod
Pods/*

# macOS
.DS_Store

# SPM
.build/
SourcePackages

# mockolo
!lib_InternalSwiftSyntaxParser.dylib

# Sourcery
templates/*
!templates/.gitkeep
!templates/AutoDefaultValue.extension.swifttemplate

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/test_output
build

.env.secret
*.p8
