# Xcode
**/*.xcodeproj/*
**/*.xcworkspace/*
**/xcuserdata/*
!**/*.xcodeproj/xcshareddata
!**/*.xcodeproj/project.pbxproj
!**/*.xcworkspace/contents.xcworkspacedata
!**/*.xcworkspace/xcshareddata
# Cache SwiftPM for CI
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# CocoaPod
Pods/*

# macOS
.DS_Store

# SPM
.build/

# mockolo
!lib_InternalSwiftSyntaxParser.dylib

# Sourcery
templates/*
!templates/.gitkeep
!templates/AutoDefaultValue.extension.swifttemplate

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/test_output
**/fastlane/screenshots/**/*.png
**/fastlane/screenshots/**/*.ttf
**/fastlane/screenshots/**/*.ttc
**/fastlane/screenshots/**/*.html
build
SourcePackages
.env.secret
*.p8
