--binarygrouping none
--comments indent
--decimalgrouping none
--disable emptyBraces
--disable fileHeader
--disable redundantInit
--disable redundantPattern
--disable redundantRawValues
--disable redundantReturn
--disable redundantSelf
--disable specifiers
--disable trailingClosures
--disable unusedArguments
--disable trailingCommas
--empty void
--hexgrouping none
--hexliteralcase lowercase
--octalgrouping none
--wrapcollections beforefirst
--exclude Pods

